@page
@model DOINHE.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateTimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DateTimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateTimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DateTimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StatusIsBuy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.StatusIsBuy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StatusIsApprove)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.StatusIsApprove)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ImgDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ImgKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Users.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Categories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Categories.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
