@page
@model DOINHE.Pages.portfolio_detailsModel
@{
    Layout = "_Layout";
}
<main class="main">
    
    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
            <h1>Portfolio Details</h1>
            <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index">Home</a></li>
                    <li class="current">Portfolio Details</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper init-swiper">

                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                        </script>

                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/app-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/product-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/branding-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/books-1.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                    
                <div class="col-lg-4">
                    <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                        <h3>@Html.DisplayFor(model => model.products.ProductName)</h3>
                        <h4>@Html.DisplayFor(model => model.products.Price) VND</h4>
                        <ul>
                            @if (Model.products.CategoryId == 1)
                            {
                                <li><strong>Day checkin</strong>: @Html.DisplayFor(model => model.products.DateTimeStart)</li>
                                <li><strong>Day checkout</strong>: @Html.DisplayFor(model => model.products.DateTimeEnd)</li>
                            }
                            else if (Model.products.CategoryId == 2)
                            {
                                <li><strong>Day start</strong>: @Html.DisplayFor(model => model.products.DateTimeStart)</li>
                            }


                            <li><strong>Address</strong>: @Html.DisplayFor(model => model.products.Address)</li>
                            <li><strong>Description</strong>: @Html.DisplayFor(model => model.products.Description)</li>
                        </ul>
                    </div>
                    <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                        @if (HttpContext.Session.GetString("customer") != null)
                        {
                            <a href="/Payment?id=@Html.DisplayFor(model => model.products.Id)&UserId=@Html.DisplayFor(model => model.products.UserId)" class="btn-get-started">Buy now</a>

                        }
                        else
                        {
                            <a href="Login" class="btn-get-started">Buy now</a>

                        }
                        @* <h2>Exercitationem repudiandae officiis neque suscipit</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p> *@
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Portfolio Details Section -->

</main>

<style>
    .btn-get-started {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: var(--default-color);
        animation: fadeInUp 1s both 0.4s;
        border: 2px solid var(--accent-color);
    }

</style>